<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - {{ appName }}</title>
    {% include 'backend/dashboard/partials/bootstrap/head/common-style.html' %}
    {% include 'backend/dashboard/partials/bootstrap/head/dashboard-style.html' %}
  </head>
  <body>
      {% include 'backend/dashboard/partials/bootstrap/body/fixed-navbar.html' %}

      <div class="container">
          <h1>Welcome to the dashboard!</h1>
      </div>

      {% include 'backend/dashboard/partials/bootstrap/body/bottom/dashboard.html' %}
  </body>
</html>

